### 특강. 반복문과 벡터화 연산

> 데이터 분석 모듈에서 문제 해결 방법

기본 파이썬에서는 반복문을 활용해 대부분의 문제를 해결하지만, 데이터 분석 모듈에서는 배열 단위로 연산을 수행하는 **벡터화 연산**을 사용합니다.

데이터 분석 모듈인 **판다스 라이브러리**의 해결 방법을 아래의 [코드 5-11]과 코드 [5-12]에서 확인할 수 있습니다.

**🚨 주의 사항**

지금부터 판다스 라이브러리를 실습에 활용할 것입니다. 만약 여러분이 구글 코랩이 아닌 환경에서 실습하는 경우, **먼저 판다스 라이브러리를 사용하려면 설치해야 합니다.** 코랩 이용자가 아닌 경우 설치를 위해 다음 코드를 실행하거나, **8장 모듈**을 학습한 후 실습하는 것을 권장합니다.

```python
# 판다스 라이브러리 설치 (구글 코랩은 이미 판다스가 설치되어 있음)
!pip install pandas
```
**구글 코랩에서 실습하는 경우, 별도의 설치 없이 그대로 실습을 진행할 수 있습니다.**

> 배열 매핑

배열을 매핑하는 `for` 문의 코드 [코드 5-7]

```python
# 코드 5-7. for 문으로 배열 매핑하기
c = [1, 2, 3, 5]
result = []  # 결과를 담을 빈 리스트 result 생성

# 리스트 c의 각 원소를 두 배로 매핑한 result 생성
for i in c:
    result.append(i * 2)  # 각 원소에 2를 곱해 result에 추가

# 변수 result 출력
result  # 출력: [2, 4, 6, 10]

```

데이터 분석 모듈 **판다스**에서 배열 매핑

In [1]:
# 코드 5-11. 판다스로 각 원소를 두 배로 매핑(코드 5-7과 비교)

# 판다스 라이브러리 불러오기
import pandas as pd

# 리스트 c로 시리즈 s 생성
c = [1, 2, 3, 5]
s = pd.Series(c, index=['A', 'B', 'C', 'D'])

# 시리즈 s 출력
print(s)

# 시리즈 s의 각 원소를 두 배로 매핑한 결과 출력(문제 해결 코드)
s * 2

A    1
B    2
C    3
D    5
dtype: int64

A     2
B     4
C     6
D    10
dtype: int64

> 각 행의 합 도출

다중 변수 `for` 문으로 각 행의 합을 구하는 [코드 5-9]

```python
# 코드 5-9. 다중 변수 for 문
d = [[1, 2], [3, 4], [5, 6]]
result = []  # 결과를 담을 빈 리스트 result 생성

# 2차원 리스트 d에서 각 행의 합을 구해서 1차원 리스트로 변환
for i, j in d:
    result.append(i + j)  # i와 j의 합을 result에 추가

# 변수 result 출력
result  # 출력: [3, 7, 11]
```

데이터 분석 모듈 **판다스**에서 각 행의 합 도출

In [2]:
# 코드 5-12. 판다스로 각 행의 합을 구해서 1차원으로 변환(코드 5-9와 비교)

# 판다스 라이브러리 불러오기
import pandas as pd

# 리스트 d로 데이터 프레임 df 생성
d = [[1, 2], [3, 4], [5, 6]]
df = pd.DataFrame(d, index=['A', 'B', 'C'], columns=['col1', 'col2'])

# 데이터 프레임 df 출력
print(df)

# df에서 각 행의 합을 구해서 1차원으로 변환(문제 해결 코드)
df.sum(axis=1)

   col1  col2
A     1     2
B     3     4
C     5     6

A     3
B     7
C    11
dtype: int64

[코드 5-11]과 [코드 5-12]에서 마지막 행인 **문제 해결 코드**만 주목합니다. 데이터 분석 모듈인 판다스의 **시리즈**나 **데이터 프레임** 클래스를 사용하면, `s * 2` 코드만으로 [코드 5-7]의 기능을 수행할 수 있으며, `df.sum(axis=1)` 코드만으로 [코드 5-9]의 기능을 수행할 수 있습니다.

이렇게 **배열 단위로 연산을 수행**하는 것이 **벡터화 연산**이며, 데이터 분석 모듈은 벡터화 연산을 통해 연산을 매우 간결하게 처리합니다. 따라서 데이터 분석만 수행하는 경우 반복문의 사용은 제한적입니다.

다만, 다양한 모듈을 사용하는 것이 목표라면 반복문은 여전히 강력한 도구로 활용됩니다.

**😀 파이썬의 엑셀, 판다스 라이브러리 출판 안내**

**서울대** 이성주 교수님과 **카이스트** 차유진 교수님이 추천한 데이터 분석 책 **『파이썬의 엑셀, 판다스 라이브러리』**가 출판되었습니다. 이 책은 입문자를 위해 데이터 분석 과정에서 가장 중요한 판다스 라이브러리를 쉽게 풀어쓴 **입문서**이며, 동시에 여러분의 데이터 처리 역량을 강화하는 데 큰 도움이 되는 **기본서**입니다.

<img src=https://i.postimg.cc/MKg8TW75/01.jpg, width=600>

🎈 [파이썬의 엑셀, 판다스 라이브러리 목차 확인](https://kimpanda.tistory.com/274)

🎈 [교보문고 구매 페이지](https://product.kyobobook.co.kr/detail/S000214350781)